*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nv {
  margin-left: auto;
}

.nav-item {
  margin: 0 2px;
}

.navbar .dropdown-menu a {
  font-size: 1.5rem;
}

.main {
  height: 87vh;
  background-image: url(../img/personal-computer-motherboard-4316.jpg);
  background-size: 100%;
}

.header {
  font-size: 4rem;
  margin: 10rem auto;
  margin-bottom: 1rem;
  text-align: center;
}

.test {
  height: 100%;
}


.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.center {
  margin: 0 auto;
}

.lead {
  font-size: 1.5rem;
  text-align: right;
  padding: 1.2rem;
}

.logo {
  width: 6.5rem;
  height: 6.5rem;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.center__about {
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.font-small {
  font-size: 1.2rem;
}

.h2__p {font-size: 3rem;
  text-align: center;
  color: red;}

.nav__tx {
  font-size: 1.5rem;
  padding: 0.1rem 0.5rem;
  padding-top: 0.4rem;
}

.nav__tx__2 {
  font-size: 1.5rem;
  padding: 0.1rem 0.4rem;
}

.story {
  width: 75%;
  margin: 0 auto;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
}

.story__text {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

.flex-warp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 5%;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .popup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.popup__content {



  text-align: right;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  padding: 5rem;
  background-color: white;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.25);
          transform: translate(-50%, -50%) scale(0.25);
  -webkit-transition: all .5s .2s;
  transition: all .5s .2s;
}

.popup__content--5 {
  font-size: 1.4rem;
  width: 95%;
  height: 95%;
  padding: 1rem;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.popup__close:link, .popup__close:visited {
  padding: 1rem;
  color: gray;
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 2rem;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
  line-height: 1;
}
.list-group {

  display:flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.list-group-item {
  margin: 0.4rem;
}

.nav {
  background-color: rgba(26, 25, 25, 0.479);
}

.nav--2 {
  background-color: rgba(255, 255, 255, 0.3); 
}

.nav__list {
  text-decoration: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 0 0 auto;
}

.item {
  margin: 0rem;
}

.link:link, .link:visited {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem 1rem;
  color: rgb(148, 144, 144);
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
}

.link--h:link, .link--h:visited {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem 1rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;

}
.test-f {
  display: block;
}

.page-footer {
  
 display: block;
 width: 100%;
 align-self: flex-end;
}

.alin-flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 100vh;

}

.ul--back {
  background-color: rgba(110, 110, 119, 0.158);
  background-size: cover;
  overflow-y: scroll;
}

.test-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
/*
.card {
  margin: 1rem;
  width: 45%;
  padding-left:0 ;
  padding-right:0 ;
  min-height: 21.5rem;
  
}
*/


.page-footer--h {
  margin-top: 0;
  position: relative;
  bottom: 0;
  width: 100vw;
}


.ut--align {  
  display: flex;
  justify-content: center;
  margin-top: .5rem;
}

/*
///////////////////////////////////////////////////////////////
///////////////////////////////////////
//////////////////////////////////////////////////////////////*/

@import url(https://fonts.googleapis.com/css?family=Condiment|Lato:100,400);
@import url(https://markmurray.co/codepen/entypostyle.css);


.container--2 {
  position: relative;
  width: 40%;
  min-height: 21.5rem;  
  z-index: 1;
  perspective: 1000px;
  margin: 1rem;
  
}


@media only screen and (max-width: 54.0625em) {


  .container--2 {
    width: 100%;
  }

}


.container--2 .card {
  
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 600ms linear;
  /* border-radius: 5%; */
  
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

  min-height: 21.5rem;
  margin-bottom: 5rem;
}






button {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  font: 1rem 'Lato', sans-serif;
  background: rgba(16, 215, 175, 0.95);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 4px 0 0 #0b9075;
  cursor: pointer;
  position: fixed;
  z-index: 10;
  top: 40%;
  right: 40%;
}









.container--2 .card .face {
  position: absolute;
  
  width: 100%;

  backface-visibility: hidden;
  /* background: #689dc9; */
  background: #282e33;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

  min-height: 21.5rem;
}











.container--2 .card .front {
  overflow: hidden;
  z-index: 2;
}




.container--2 .card .back {
  display: block;
  transform: rotateX(180deg);
  box-sizing: border-box;
  padding: 30px;
  color: #000;
  background: #274761;
  z-index: 11111;
  font-family: 'Lato', sans-serif;
}





.container--2:hover .card {
  transform: rotateX(180deg);
}





@keyframes wobble-vertical {
  16.65% {
    transform: translateY(8px);
  }
  33.3% {
    transform: translateY(-4px);
  }
  49.95% {
    transform: translateY(3px);
  }
  66.6% {
    transform: translateY(-1px);
  }
  83.25% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}
.wobble-vertical {
  display: inline-block;
}
.wobble-vertical:hover {
  animation-name: wobble-vertical;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}


.btn {
  font-size: 1.4rem;
}